@font-face {
    font-family: MasonChronicles; 
    src: local(MasonChronicles), url(../fonts/MasonChronicles.ttf);
   }
body{
    font-family: 'Roboto', sans-serif;
    background-color: #141218;
    background-image: url(../img/background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}
.container{
    width: 1135px;
    margin: auto;
}
.header{
    margin-top: 60px;
    margin-bottom: 90px;
}
.menu{    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 68px;
}
.menu-item{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-right: 50px;
}
.social-icon:not(:last-child){
    margin-right: 25px;
}
.year-genre{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.num{
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 9px;
}
.title{
    font-family: MasonChronicles;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    color: #FFFFFF;
    margin: 0;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    width: 460px;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.watch{
    border: none;
    padding: 22px 72px;
    background: #9D2929;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}
.play-button{
    margin-right: 120px;
    background-color: transparent;
    border: none;
}
.series{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.card{
    position: relative;
    margin-right: 30px;
}
.card-image{
    border-radius: 8px
}
.text-card{
    position: absolute;
    left: 13px;
    top: 70px;
    color: #fff;
}
.card-num{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-bottom: 6px;
}
.card-name{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.arrow{
    height: 28px;
    background-color: transparent;
    border: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #141218;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-text{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer-item{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 25px;
}


