@font-face {
    font-family: MasonChronicles; 
    src: local(MasonChronicles), url(../fonts/MasonChronicles.ttf);
   }
body{
    font-family: 'Roboto', sans-serif;
    background-color: #141218;
    background-image: url(../img/background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}
.container{
    width: 1135px;
    margin: auto;
}
.logo{
    flex: 0.1;
}
.header-content{
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
}

.menu{    
    flex: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    display: none;
}
.close-button{
    display: none;
}
.menu-list{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 68px;
}
.menu-item{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-right: 50px;
}
.social-icon:not(:last-child){
    margin-right: 25px;
}
.year-genre{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.num{
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 9px;
}
.title{
    font-family: MasonChronicles;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    color: #FFFFFF;
    margin: 0;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    width: 460px;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.watch{
    border: none;
    padding: 22px 72px;
    background: #9D2929;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}
.play-button{
    margin-right: 120px;
    background-color: transparent;
    border: none;
}
.series{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.card{
    position: relative;
    margin-right: 30px;
}
.card-image{
    border-radius: 8px
}
.text-card{
    position: absolute;
    left: 13px;
    top: 70px;
    color: #fff;
}
.card-num{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-bottom: 6px;
}
.card-name{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}
.arrow{
    height: 28px;
    background-color: transparent;
    border: none;
}
footer{
    width: 100%;
    background-color: #141218;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-text{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer-item{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 25px;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
  
}
@media (max-width: 992px){
    .container{
        max-width: 740px;
    }
    .play-button{
        margin-right: 60px;
    }
}

@media (max-width: 768px){
    body{
        background-position: center center;
    }
    
    .container{
        max-width: 540px;
    }
    .logo{
        margin-right: 20px;
    }
    .menu-item{
        margin-right: 20px;
    }
    .header{
        margin-bottom: 50px;
    }
    .play-button{
        display: none;
    }
}
.footer-item{
    margin-left: 10px;
    font-size: 12px;
}
.footer-text{
    font-size: 12px;
}

@media (max-width: 578px){
    .container{
        width: 90%;
    }
    .header{
        position: relative;
        display: inline-block;
        margin-bottom: 50px;
    }
    .header-content{
        margin: 0;
        left: 0;
        top: 0;
        display: none;
        position: absolute;
        z-index: 1;
        background-color: red;
        width: 220px;
        height: 240px;
        align-items: center;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .close-button{
        position: absolute;
        left: 10px;
        top: 15px;
        display: inline-block;
        background-color: inherit;
        border: none;
    }
    .logo{
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .menu-item{
        margin-top: 22px;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        order: 2;
    }
    
    
    
    .menu-icon{
        margin-top: 10px;
        display: block;
        background: inherit;
        border: none;
        z-index: 2;
    }

    .text{
        width: auto;
        font-size: 12px;
    }
    .title{
        font-size: 56px;
        line-height: 66px;
    }
    .main-content{
        margin-bottom: 40px;
    }
    .text{
        font-size: 14px;
        line-height: 150%;
    }
    .series{
        margin-bottom: 74px;
    }
    .card:nth-child(2){
        display: none;
    }
    .footer-container{
      flex-direction: column;
    }
    .footer-text{
        margin-bottom: 17px;
    }
    .footer-item{
        margin: 0;
        margin-right: 25px;
    }
    .show{
        display: flex;
    }
}
